# Ambiente virtual
.venv/
env/
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Temporários do sistema
.DS_Store
Thumbs.db

# Saídas e arquivos gerados
*.xlsx
*.csv
*.log
debug_checagem/
pdfs_entrada/

# Configs locais
.idea/
.vscode/
